.container {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 5.625rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.created {
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
}

.created p {
  color: var(--blue);
}

.created span {
  height: 1.1875rem;
  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 999px;
  padding: 2px 8px;
  font-size: 0.75rem;
}

.done {
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
}

.done p {
  color: var(--purple);
}

.done span {
  height: 1.1875rem;
  background: var(--gray-400);
  border-radius: 999px;
  padding: 2px 8px;
  font-size: 0.75rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.task {
  width: 100%;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.task p {
  font-size: 0.875rem;
  line-height: 1.18rem;
  color: var(--gray-100);
  margin-right: auto;
}

p.textCompleted {
  color: var(--gray-300);
  text-decoration: line-through;
}

.check {
  background: none;
  border: none;
}

.delete {
  background: none;
  border: none;
  color: var(--gray-300);
}

.delete:hover {
  color: var(--danger);
}