.container {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 5.625rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.created {
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
}

.created p {
  color: var(--gray-100);
}

.created span {
  height: 1.1875rem;
  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 999px;
  padding: 2px 8px;
  font-size: 0.75rem;
}

.done {
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
}

.done p {
  color: var(--gray-100);
}

.done span {
  height: 1.1875rem;
  background: var(--gray-400);
  border-radius: 999px;
  padding: 2px 8px;
  font-size: 0.75rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.task {
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--todo-row-4-primary),
    var(--todo-row-4-secondary));
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 5px var(--placeholder-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.task:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    var(--todo-row-2-primary),
    var(--todo-row-2-secondary));
}

.task:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    var(--todo-row-3-primary),
    var(--todo-row-3-secondary));
}

.task:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    var(--todo-row-1-primary),
    var(--todo-row-1-secondary));
}

.task p {
  font-size: 0.875rem;
  line-height: 1.18rem;
  color: var(--black-less);
  margin-right: auto;
}


.textCompleted {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.3;
}

.check {
  background: none;
  border: none;
}

.delete {
  background: none;
  border: none;
  color: var(--black-less);
}

.delete:hover {
  color: var(--danger);
}

.noTodo {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-300);
  gap: 1rem;
  text-align: center;
}

.noTodo h3 {
  font-size: 1rem;
  font-weight: 700;
}